@import "tailwindcss";


:root {
  /* Configuración de colores y espaciado */
  --bg-color: #16171d;                 /* Fondo negro/oscuro */
  --dot-color: rgba(255, 255, 255, 0.2); /* Puntos blancos con transparencia */
  --dot-size: 1px;                     /* Grosor del punto */
  --dot-gap: 20px;                     /* Distancia entre puntos */

  /* Aplicación del fondo */
  background-color: var(--bg-color);
  background-image: radial-gradient(
    var(--dot-color) var(--dot-size), 
    transparent var(--dot-size)
  );
  background-size: var(--dot-gap) var(--dot-gap);
}